*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    -moz-user-select: none !important;
    -webkit-touch-callout: none!important;
    -webkit-user-select: none!important;
    -khtml-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
    }
body{
    background-color: rgb(87, 38, 133);
}
.main{

}
.level{
    background-color: navajowhite;
    height: 50px;
    text-align: center;
    line-height: 55px;
    margin-bottom: 150px;
}
.container{
    position: relative;
    line-height: 48px;
    /* width: 600px; */
    margin-top: 89px;
    margin: 0 auto;
    width: 23%;
    height: 315px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.container_start{
    position: relative;
    line-height: 48px;
    /* width: 600px; */
    margin-top: 89px;
    margin: 0 auto;
    width: 23%;
    height: 315px;
    text-align: center;
    background-color: orange;
    color: white;
    border-radius: 10px;
}
.container input{
    padding: 6px 116px 6px 7px;
    border: none;
    border-radius: 6px;
}
.reload{
    position: absolute;
    left: 24px;
    top: 13px;
    font-size: 23px;
    color: white;
}
.play{
    position: absolute;
    right: 24px;
    top: 13px;
    font-size: 23px;
    color: white;
}
button{
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 140px 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}
.time_start{
    line-height: 355px;
    font-size: 132px;
    display: none;
}